#shapes {
	display: grid;
	grid-template-columns: auto 60% auto;
	grid-template-areas: ". shapes .";
	height: 100vh;
	> div {
		grid-area: shapes;

		#pink-circle {
			height: 200px;
			width: 200px;
			background-color: rgb(230, 7, 163);
			border-radius: 100%;
			margin-left: 300px;
			margin-top: 300px;
		}
	}
}
